.hover-effect:hover {
    color: rgb(2 132 199);
    transition: 0.3s ease-in-out;
    font-weight: bold;
    transform: scale(1.2);
}
.hover-effect:active {
    color: crimson;
}
.active-link {
    font-weight: bolder;
    color: green;
    transform: scale(1.3);
}


